@font-face {
  font-family: "MaruBuri";
  src: url("./MaruBuri-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "MaruBuri";
  src: url("./MaruBuri-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MaruBuri";
  src: url("./MaruBuri-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MaruBuri";
  src: url("./MaruBuri-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MaruBuri";
  src: url("./MaruBuri-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI Emoji";
  src: url("./segoeuiemj.ttf") format("truetype");
}
